/* fonts from Adobe:

font-family: adobe-handwriting-frank, sans-serif;
font-weight: 400;
font-style: normal;

Adobe Handwriting Tiffany

font-family: adobe-handwriting-tiffany, sans-serif;
font-weight: 400;
font-style: normal;

Adobe Handwriting Ernie

font-family: adobe-handwriting-ernie, sans-serif;
font-weight: 400;
font-style: normal;
*/



/* to zoom header logo on scroll */
#header-container {
    background-color: black;
    background: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    

}

.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

}


#header {
    width: 700px;
    height: auto;
margin-left:auto;
    margin-right: auto;
    top: 0;
    
}

#logo {

    margin-left: auto;
    margin-right: auto;
    transition: all 0.6s;
width: 700px;
    height: auto;
    min-width: 300px;
    min-height: auto;
}





.slideimage {
    width: 1000px;
    height: 400px;
}

/* text on slider images*/
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;

}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    font-family: adobe-handwriting-ernie, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;

}



/*from W3 schools, must have relative positioning - Ruth */

* {
    box-sizing: border-box;
}


.img-comp-container {


    position: relative;
    /*height: 400px;*/
    /*should be the same height as the images*/
    height: 400px;
    width: 800px;
   margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
   border-style: groove;
    border-color: green;
 overflow: hidden;
 

}

.img-comp-img {
    position: absolute;

    height: 400px;
    overflow: hidden;

    width: 100%;

    overflow: hidden;


}

.img-comp-img img {
    display: block;
    vertical-align: middle;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;

    /*set the appearance of the slider:*/

    /*set the appearance of the slider button:*/

    width: 40px;
    height: 40px;
    background-color: black;
    opacity: 0.7;
    border-radius: 50%;



}


h1 {
    font-family: adobe-handwriting-ernie, sans-serif;

    font-style: normal;
    text-align: center;
    font-size: 60px
}

h2 {
    font-family: adobe-handwriting-tiffany, sans-serif;
    font-size: 30px;
    font-style: normal;
    text-align: center;

}

h3 {
    font-family: adobe-handwriting-tiffany, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}

p {
    font-family: adobe-handwriting-tiffany, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;


}

ul {
    list-style-type: none;

}

.content {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* three  and 2 equal columns for food menu and to align the kiosk section */
.column {
    float: left;
    width: 33.33%;
   
}

.column2 {
    float: right;
    width: 50%;
   

}

.column3 {
    float: left;
    width: 50%;
    background-color: white;
    padding-top: 50px;


}

.tapas {
    width: 500px;
    padding-left: 50px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}

.right {
    float: right;
}

/* https://www.w3schools.com/howto/howto_js_sidenav.asp */


/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    /* Opens up on the right side*/
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The opening days and hours */


.sidenav a {
    padding: 16px 16px 16px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {

    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#map {
    position: relative;
    width:90%;
    height: 500px;
    padding: 32px 32px 32px 32px;
    margin-left:10%;
}

.info_column {
    float: left;
    width: 50%;
}

.info_column h2 {
    text-align: left;
    padding: 32px 32px 32px 32px;
    margin-left: 15%;
    margin-top:10%
}

.kiosktext {
    padding-top: 40px;
    padding-bottom: 50px;
}
/* Background for the menu */

.bg {
        /* The image used */
        background-image: url(images/glacier-daltile-mosaic-tile-550022hd1p2-64_300.jpg);

        /* Full height */
        height: 100%;
        padding: 32px 32px 32px 32px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: dimgrey;
   color: white;
   text-align: center;
   z-index: 10;
}

.SoMe {
    height:50px;
    width:50px;
    float:left;
    width:50%;
}

/* Displays the rows of the menu, doesn't display the dropdowns*/

@media only screen and (min-width: 1200px) {


/* https://www.w3schools.com/w3css/w3css_dropdowns.asp */    
    
    .dropdown {
        position: relative;
        display: none;    
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .show {
        display: block;
    }

    .dropbtn {
        font-size: 16px;
        border: none;
    }
}

/* Doesn't display the rows on menu, instead shows the dropdowns */

@media only screen and (max-width: 1200px) {

    .row {
        display: none;

    }
    
    .dropdown {
        position: relative;
        display:inline-block;
        display:block;
        margin-left: auto;
        margin-right: auto;
        width:40%;
    }
    
        .dropdown-content {
        display: none;
        position: relative;
        background-color: #f1f1f1;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    .show {
        display: block;
    }

    .dropbtn {
        font-size: 16px;
        border: none;
        width: 100%;
  max-width: 400px;
  height: auto;
    }

        .dropdown-content1 {
        display: none;
        position: relative;
        background-color: #f1f1f1;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content1 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    .show1 {
        display: block;
    }

    .dropbtn1 {
        font-size: 16px;
        border: none;
        width: 100%;
  max-width: 400px;
  height: auto;
    }
    
        .dropdown-content2 {
        display: none;
        position: relative;
        background-color: #f1f1f1;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content2 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    .show2 {
        display: block;
    }

    .dropbtn2 {
        font-size: 16px;
        border: none;
        width: 100%;
  max-width: 400px;
  height: auto;
    }
    
        .dropdown-content3 {
        display: none;
        position: relative;
        background-color: #f1f1f1;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content3 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    .show3 {
        display: block;
    }

    .dropbtn3 {
        font-size: 16px;
        border: none;
        width: 100%;
  max-width: 400px;
  height: auto;
    }

        .dropdown-content4 {
        display: none;
        position: relative;
        background-color: #f1f1f1;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content4 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
    }

    .show4 {
        display: block;
    }

    .dropbtn4 {
        font-size: 16px;
        border: none;
        width: 100%;
  max-width: 400px;
  height: auto;
    }

    
}
    

