
/* fonts from Adobe:

font-family: adobe-handwriting-frank, sans-serif;
font-weight: 400;
font-style: normal;

Adobe Handwriting Tiffany

font-family: adobe-handwriting-tiffany, sans-serif;
font-weight: 400;
font-style: normal;

Adobe Handwriting Ernie

font-family: adobe-handwriting-ernie, sans-serif;
font-weight: 400;
font-style: normal;
*/

/*header background and parallax*/

#header-container {
  background-color: black;
  background: cover;
padding-top: 40px;
    padding-bottom: 40px;
}
.logo {
    
    display: block;
  margin-left: auto;
    margin-right: auto;
    align-items: center;
   
    
}

/* to zoom header logo on scroll from W3 schools*/



/* text on slider images*/
.top-right {
  position: absolute;
  top: 8px;
 right: 16px;
color: white;
font-family: adobe-handwriting-ernie, sans-serif;
font-weight: 600;
font-style: normal;
}
.top-left {
  position: absolute;
  top: 8px;
 left: 16px;
 color: black;
 font-family: adobe-handwriting-ernie, sans-serif;
 font-weight: 600;
 font-style: normal;
}


/*from W3 schools, must have relative positioning - Ruth */

* {box-sizing: border-box;}

.img-comp-container {
  

    position: relative;
  height: 400px; /*should be the same height as the images*/
   width: 100%;
 
}

.img-comp-img {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;

}
.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider button:*/
  width: 40px;
  height: 40px;
  background-color: black;
  opacity: 0.7;
  border-radius: 50%;
}

h1 {
    font-family: adobe-handwriting-ernie, sans-serif;
font-weight: 400;
font-style: normal;
     text-align: center;
    
}
p {
    font-family: adobe-handwriting-tiffany, sans-serif;
font-weight: 400;
font-style: normal;
    text-align: center;
    
    
}


